    <script src="https://kit.fontawesome.com/9e53d593e7.js" crossorigin="anonymous"></script>

    <div class="footer-padding">
        <div class="footer">
          <p>Made with ❤️ by Sanjay Pokkali</p>
        </div>
      </div>
</body>

</html>