body {
     background-color: #f8f9fa;
    /* background-color: #fff1d0; */
}
  
.centered {
     padding-top: 200px;
     text-align: center;
     background-color: #f8f9fa;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}